function add0(m) {
  return m < 10 ? '0' + m : m
}
var getTime = function (timestamp) {
  var time = getDate(parseInt(timestamp) * 1000)
  // var year = time.getFullYear();
  var month = time.getMonth() + 1;
  var date = time.getDate();
  var hours = time.getHours();
  var minutes = time.getMinutes();
  var seconds = time.getSeconds();
  return add0(hours) + ':' + add0(minutes);
}
module.exports.getTime = getTime